stages:
  - lint
  - test
  - report

variables:
  PYTHON_VERSION: "3.11"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

default:
  image: python:${PYTHON_VERSION}
  before_script:
    - pip install --upgrade pip
    - pip install -r requirements.txt
  cache:
    paths:
      - .cache/pip

lint_job:
  stage: lint
  before_script:
    - pip install ruff
  script:
    - ruff check .
  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

test_job:
  stage: test
  variables:
    PYTEST_ADDOPTS: ""
  script:
    - pytest --alluredir=allure-results -v $PYTEST_ADDOPTS
  artifacts:
    when: always
    paths:
      - allure-results
    expire_in: 1 week
  rules:
    - if: $CI_PIPLINE_SOURCE == "push"
    - if: $CI_PIPLINE_SOURCE == "schedule"
    - if: $CI_PIPLINE_SOURCE == "web"

report_job:
  stage: report
  needs: ["job_test"]
  before_script:
    - apt-get update -qq && apt-get install -y -qq openjdk-17-jre-headless
    - wget -q https://github.com/allure-framework/allure2/releases/download/2.30.0/allure-2.30.0.tgz
    - tar -xzf allure-2.30.0.tgz
    - export PATH=$PATH:$(pwd)/allure-2.30.0/bin
  script:
    - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report
    expire_in: 1 week
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH